/*@import url("//hello.myfonts.net/count/344bfd");*/

@font-face {
  font-family: 'CaslonBlackSH-Regular';
  src: url('../fonts/344BFD_0_0.eot');
  src: url('../fonts/344BFD_0_0.eot?#iefix') format('embedded-opentype'),
       url('../fonts/344BFD_0_0.woff2') format('woff2'),
       url('../fonts/344BFD_0_0.woff') format('woff'),
       url('../fonts/344BFD_0_0.ttf') format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #FFF9F1;
  font-family: monospace;
  padding-top: 100px;
  overflow-x: hidden;
}

body.dog-2001::before {
  content: "";
  background-image: url("../images/portfolio/gifs_random/end-it-dog-2001.gif");
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
}

hr {
  border-top: 1px solid #1F1A0D;
}

body.open {
  overflow: hidden;
}

img {
  width: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg {
  max-width: 100%;
}

section {
  padding: 15px 0px;
}

nav {
  top: 0px;
  position: fixed;
  width: 100%;
  background-color: #FFF9F1;
  z-index: 9999999;
  padding-bottom: 0px;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0px;
}

h1 {
  font-family: "CaslonBlackSH-Regular";
  font-weight: 100;
  line-height: 18vw;
  font-size: 20vw;
  text-transform: uppercase;
  letter-spacing: 1vw;
}

h1 .height-sm {
  line-height: 15vw;
  display: block;
}

h2 {
  font-family: "CaslonBlackSH-Regular";
  font-size: 3.8vw;
  letter-spacing: 1px;
}

h3 {
  font-family: "CaslonBlackSH-Regular";
  font-size: 2.5vw;
  letter-spacing: 1px;
}

a:not(.btn) {
  color: #1F1A0D;
  text-decoration: underline;
}

a:hover,
a:active,
a:focus, {
  color: #1F1A0D;
}

.header-line {
  position: relative;
}

.header-line::after {
  content: " ";
  border-top: 1px solid black;
  width: 100%;
  position: absolute;
  left: 0;
  top: 14px;
}

.header-line p {
  display: inline-block;
  background-color: #FFF9F1;
  position: relative;
  z-index: 999;
  padding: 0px 20px;
}

.font-primary {
  font-family: "CaslonBlackSH-Regular";
  letter-spacing: 1px;
}

h1.text-window {
  display: inline-flex;
  width: 100%;
}

h1 span {
  background: url("../images/backgrounds/alaska_ice.jpg") repeat;
   background: -webkit-linear-gradient(transparent, transparent),
             url("../images/backgrounds/alaska_ice.jpg") repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-left: auto;
  margin-right: auto;
  background-size: 150%;
  background-repeat: repeat !important;
  background-position: center center;
  color: transparent;
  background-clip: text;
  position: relative;
  text-align: center;
}

#pixi_app {
  height: 100%;
  width: 100%;
}

.overflow-scroll {
  overflow: scroll;
}

.border-white {
  border: 1px solid #FFF9F1;
}

.border-black-top {
  /*border-top: 1px solid black;*/
  border-bottom: 1px solid black;
}

.navbar {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.navbar-toggle {
  margin-right: 0px;
}

.navbar-toggle .icon-bar {
  background-color: #1F1A0D;
}

.navbar-nav > li.navbar-item-header {
  position: absolute;
  left: 0;
}

.navbar-nav > li.navbar-item-header a {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0px;
  margin: 15px 0px;
  width: 40px;
  line-height: 0px;
}

.navbar-nav > li.navbar-item-header a:hover,
.navbar-nav > li.navbar-item-header a:active,
.navbar-nav > li.navbar-item-header a:focus {
  background-color: black;
  color: #FFF9F1;
  fill: #FFF9F1;
}

.navbar-nav > li.navbar-item-header a img {
  width: 40px;
}

.navbar-center {
  position: absolute;
  left: 0px;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.background-black {
  background-color: #1F1A0D;
  color: #FFF9F1;
}

.pad.background-black h3 {
  margin-bottom: 0px;
}

.background-cover {
  background-size: cover;
  background-position: center center;
}

.pad {
  padding: 30px;
}

.pad-section {
  padding: 40px 20px;
}

header.pad-section {
  padding: 15px;
}

.btn {
  font-family: "CaslonBlackSH-Regular";
}

.text-white {
  color: #FFF9F1;
  fill: #FFF9F1;
}

.stroke-white {
  stroke: #FFF9F1;
}

.text-sm-vw {
  font-size: 2vw;
}

.text-md-vw {
  font-size: 3vw;
}

.text-lg-vw {
  font-size: 4vw;
}

.height-sm-vh {
  min-height: 60vh;
}

.height-md-vh {
  min-height: 80vh;
}

.height-lg-vh {
  min-height: 100vh;
}

.height-lg {
  height: 100%;
}

.width-lg {
  width: 100%;
}

.border-black {
  border: 1px solid #1F1A0D;
}

.navbar-brand {
  height: 50px;
  padding: 15px 10px;
  max-width: 60px;
}

.navbar {
  border: 0px;
  border-bottom: 1px solid;
  border-radius: 0px;
  min-height: 70px;
}

.navbar .btn-nav {
  margin-top: 17px;
  border: 1px solid #1F1A0D;
  color: #1F1A0D;
  border-radius: 100px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  right: 0;
  padding: 8px 20px;
  position: absolute;
}

.navbar .btn-nav:hover,
.navbar .btn-nav:active,
.navbar .btn-nav:focus {
  border: 1px solid #1F1A0D;
  color: #FFF9F1;
  background-color: #1F1A0D;
}

.btn-white-outline {
  border: 1px solid #FFF9F1;
  color: #FFF9F1;
  border-radius: 100px;
  text-transform: uppercase;
  padding: 8px 20px;
}

.btn-white-outline:hover,
.btn-white-outline:active,
.btn-white-outline:focus {
  border: 1px solid #FFF9F1;
  color: #1F1A0D;
  background-color: #FFF9F1;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}

.navbar-nav > li > a {
  font-family: "CaslonBlackSH-Regular";
  text-transform: uppercase;
  color: #1F1A0D;
  font-size: 14px;
  letter-spacing: 1px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-decoration: none;
  /*font-weight: bold;*/
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

/*.row {
  margin-right: -30px;
  margin-left: -30px;
}*/

.container-xs-custom {
  max-width: 150px;
}

.container-xs {
  max-width: 200px;
}

.container-sm {
  max-width: 400px;
}

.container-md {
  max-width: 600px;
}

.container-lg {
  max-width: 800px;
}

.container-xl {
  max-width: 1000px;
}

.grid-item {
  margin-bottom: 30px;
}

.footer-badge {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.vertical-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:  flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.translate-center {
  top: 50%;
  transform: translateY(-50%);
}

.position-relative {
  position: relative;
  z-index: 99;
}

.position-absolute {
  position: absolute;
}

.location-bottom-left {
  bottom: 0px;
  left: 0px;
}

h2.location-bottom-left {
  margin-left: 30px;
  margin-bottom: 15px;
}

.icon-primary {
  width: 70px;
}

.float-icon-top-right {
  top: 0px;
  right: 0px;
  width: 40px;
  margin: 30px;
}

.float-icon-bottom-right {
  width: 50px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 30px;
}

.link-left {
  position: absolute;
  left: -70px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 43%;
}

.link-right {
  position: absolute;
  right: -70px;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 43%;
}

.row-flex-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  display: flex;
  align-items: stretch;
  height: 100%;
}

.header-canvas-container {
  position: relative;
  height: 57vw;
  max-height: 100vh;
}

.header-canvas-container > div {
  z-index: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.app-displayed {
  z-index: 1 !important;
}

.app-displayed > canvas {
}

.takeover {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #1F1A0D;
  color: #FFF9F1;
  padding: 20px;
  display: none;
  z-index: 99999999;
}

.takeover .takeover-close {
  width: 21px;
  height: 21px;
  float: right;
  position: absolute;
  right: 40px;
  top: 40px;
  stroke: white;
  color: white;
}


.golden-ratio,
.golden-ratio nav,
.golden-ratio .text-window .text,
.golden-ratio .background-black,
.golden-ratio .header-line p,
.golden-ratio .takeover,
.golden-ratio .border-white {
  background-color: black;
  color: red;
  -webkit-text-fill-color: red;
  stroke: red;
  border-color: red;
}

.golden-ratio .navbar-nav > li > a,
.golden-ratio .link-left,
.golden-ratio .link-right,
.golden-ratio .btn-nav,
.golden-ratio .navbar-item-header svg,
.golden-ratio .font-primary,
.golden-ratio .text-white,
.golden-ratio .stroke-white,
.golden-ratio .takeover-close,
.golden-ratio .border-black,
.golden-ratio a:not(.btn) {
  color: red;
  border-color: red;
  fill: red;
  stroke: red;
}

.golden-ratio .cls-2 {
  fill: red;
  stroke: none;
}

.golden-ratio .btn.btn-white-outline.btn-lg {
  border-color: red;
}

.golden-ratio .btn-nav:hover,
.golden-ratio .btn-nav:active,
.golden-ratio .btn-nav:focus,
.golden-ratio .navbar-item-header svg:hover,
.golden-ratio .navbar-item-header svg:active,
.golden-ratio .navbar-item-header svg:focus,
.golden-ratio .navbar-item-header svg:visited,
.golden-ratio .btn.btn-white-outline.btn-lg:hover,
.golden-ratio .btn.btn-white-outline.btn-lg:active,
.golden-ratio .btn.btn-white-outline.btn-lg:focus,
.golden-ratio .btn.btn-white-outline.btn-lg:visited {
  color: black;
  -webkit-text-fill-color: black;
  border-color: red;
  background-color: red;
  fill: black;
  border-radius: 20px;
}

.golden-ratio .col-sm-4 img,
.golden-ratio .col-sm-8 {
  position: relative;
  -webkit-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}

.golden-ratio .col-sm-4.pyramid img {
  filter: none;
}

.golden-ratio .col-sm-4::before,
.golden-ratio .col-sm-8::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: 15px;
  width: calc(100% - 30px);
  background-image: url("../images/golden-ratio.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

.golden-ratio .col-sm-8::before,
.golden-ratio .col-sm-8 .width-lg {
  filter: invert(1);
}

.golden-ratio .col-sm-4.gr-vertical::before,
.golden-ratio .col-sm-8.gr-vertical::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  left: 15px;
  width: calc(100% - 30px);
  background-image: url("../images/golden-ratio-vertical.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

.golden-ratio .col-sm-4.gr-none::before,
.golden-ratio .col-sm-8.gr-none::before {
  content: none;
  position: absolute;
  top: 0;
}

.golden-ratio #daVinciCodeTrigger {
  position: fixed;
  width: 85px;
  z-index: 99999999;
  -webkit-animation: moveX 3s linear 0s infinite alternate, moveY 20s linear 0s infinite alternate;
  animation: moveX 3s linear 0s infinite alternate, moveY 20s linear 0s infinite alternate;
}

.golden-ratio .exit {
  display: block;
  color: red;
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000000;
  cursor: pointer;
  padding: 10px;
}

.exit {
  display: none;
}

@-webkit-keyframes moveX {
  from { left: -20%; } to { left: 120%; }
}
@-moz-keyframes moveX {
  from { left: -20%; } to { left: 120%; }
}
@-o-keyframes moveX {
  from { left: -20%; } to { left: 120%; }
}
@keyframes moveX {
  from { left: -20%; transform: rotate(0deg); } to { left: 120%; transform: rotate(720deg); }
}

@-webkit-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 100%; }
}
@keyframes moveY {
  from { top: 0; } to { top: 100%; }
}

#daVinciCodeTrigger {
  z-index: 9999999;
}

@media screen and (max-width: 768px) {

  h1 {
    line-height: 23vw;
    font-size: 26vw;
  }

  h2 {
    font-size: 11vw;
    letter-spacing: .03em;
  }

  h3 {
    font-size: 7vw;
    letter-spacing: .03em;
  }

  header.pad-section {
    padding: 0px 10px;
  }

  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .margin-xs-bottom {
    margin-bottom: 30px;
  }

  .col-sm-4 {
    width: 100%;
  }

  .row-flex-height {
    display: inline-block;
  }

  .link-left,
  .link-right {
    font-size: 10px;
  }

  .link-left {
    left: -50px;
  }

  .link-right {
    right: -50px;
  }

  .nav>li {
    position: relative;
    display: inline-block;
  }

  .navbar-nav > li > a {
    font-size: 12px;
    padding: 25px 7px;
  }

  .navbar .btn-nav {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 8px 6px;
  }

  .nav.navbar-nav {
    margin: 0px 0px;
  }

  .square-xs {
    height: 85vw;
  }

  .header-line::after {
    display: none;
  }

  .icon-primary {
    width: 50px;
  }
}
